<p>
  <b>Name:</b>
  <%=h @student.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>

<p>
  <b>Skype:</b>
  <%=h @student.skype %>
</p>

<p>
  <b>Comment:</b>
  <%=h @student.comment %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', :controller => :welcome %>
