<h1>Listing time_slots</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Max students</th>
  </tr>

<% @time_slots.each do |time_slot| %>
  <tr>
    <td><%=h time_slot.time %></td>
    <td><%=h time_slot.max_students %></td>
    <td><%= link_to 'Show', time_slot %></td>
    <td><%= link_to 'Edit', edit_time_slot_path(time_slot) %></td>
    <td><%= link_to 'Destroy', time_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New time_slot', new_time_slot_path %>