<h1>Editing lesson</h1>

<% form_for(@lesson) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time_slot %><br />
    <%= f.text_field :time_slot %>
  </p>
  <p>
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>
