<h1>Editing lesson</h1>

<% form_for(@lesson) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :time_slot_id %><br />
    <%= collection_select(:lesson, :time_slot_id, TimeSlot.find(:all), :id,
:time, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :student_id %><br />
    <%= collection_select(:lesson, :student_id, Student.find(:all), :id,
:name, {:prompt => true})  %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>
