<p>
  <b>Time slot:</b>
  <%=h @lesson.time_slot %>
</p>

<p>
  <b>Student:</b>
  <%=h @lesson.student %>
</p>

<p>
  <b>Comment:</b>
  <%=h @lesson.comment %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>