<p>
  <b>Start time:</b>
  <%=h @lesson.time_slot.time %>
</p>

<p>
  <b>Student:</b>
  <%=h @lesson.student.name %>
</p>

<p>
  <b>Comment:</b>
  <%=h @lesson.comment %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
