%h2 Teacher Account Settings

- form_for(@teacher) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :email
    %br
    = f.text_field :email

  %p
    = f.label :skype
    %br
    = f.text_field :skype

  %p
    = f.submit 'Update'

= link_to 'Back', :controller => :welcome

