!!! 5
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title #{controller.controller_name} : #{controller.action_name}

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = javascript_include_tag 'lib/jquery-1.4.2.min.js'
    = javascript_include_tag 'lib/rails'
    = javascript_include_tag :all, :cache => true

  %body

  .login_menu
    %ul
    - if current_student
      %li= link_to "My Account", edit_student_path(current_student)
      %li= link_to "Logout", current_student_session, :method => :delete, :confirm => "Are you sure you want to logout?"
    - else
      -if current_teacher
        %li= link_to "My Account", edit_teacher_path(current_teacher)
        %li= link_to "Logout", current_teacher_session, :method => :delete, :confirm => "Are you sure you want to logout?"
      - else
        %li= link_to "Register", new_student_path
        %li= link_to "Log In", new_student_session_path
  .heading
    %h1 John's institute

  .flash
    = flash[:notice]

  .content
    = yield
